<!-- Le content - v0.0.4 - 2013-11-17
  ================================================== -->
  <div id="input-directives" ng-app="doc.input-directives">
  <section id="currency">
  <div class="page-header">
    <h1>Currency</h1>
  </div>
  <div class="row">
    <div class="span6">
      <h3>What?</h3>

      <p>Currency.</p>

      <div class="well">
        <p>
          <input type="text" id-currency ng-model="currency.amount" /> - Model: 
          {{currency.amount}}
        </p>
      </div>
    </div>
    <div class="span6">
      <h3>Why?</h3>
      <p></p>
    </div>
  </div>

  <h3>How?</h3>

<pre class="prettyprint">
&lt;input type=&quot;text&quot; id-currency ng-model=&quot;currency.amount&quot; /&gt;
</pre>
</section>
</div>