<section id="percent">
  <div class="page-header">
    <h1>Percent</h1>
  </div>
  <div class="row">
    <div class="span6">
      <h3>What?</h3>

      <p>Percent.</p>
      <p>Parser will divide by 100 for model</p>
      <p>Formatter will multiply by 100 for display to view</p>

      <div class="well">
        <p>
          <input type="text" id-percent ng-init="percent.val=.1234" ng-model="percent.val" /> - Model: 
          {{percent.val}}
        </p>
      </div>
    </div>
    <div class="span6">
      <h3>Why?</h3>
      <p></p>
    </div>
  </div>

  <h3>How?</h3>

<pre class="prettyprint">
&lt;input type=&quot;text&quot; id-percent ng-init=&quot;percent.val=.1234&quot; ng-model=&quot;percent.val&quot; /&gt;
</pre>
</section>
